{% load staticfiles %}

<footer>
    <div class="blocks-container">
        <div class="footer-text">
            <h2>About <div>Notch<span>fish</span></div></h2>
            <p class="description-footer">We have created a lot of very nice wallpapers and following the aesthetics of your iPhone X, furthermore we offer you the possibility to hide or not the notch. Soon you will discover the funds for other devices... <br><br><span>See you later! :)</span></p>
        </div>
        <div class="footer-menu">
            <p><strong>Notchfish</strong> was created by <strong>@jennifersd</strong> crowther, and built with <img src="{% static 'img/like.png' %}"/></p>
        </div>
    </div>
</footer>