/*
Tablet CSS
*/


@media screen and (min-width: 768px) and (max-width: 900px){
    .blocks-container {
	    max-width: 900px !important;
	    padding: 0 15px !important;
    }
    
    /* Section Intro */

	.product-intro {
        width: 40% !important;
        z-index: 9999 !important;
    }

    .product-free-main {
        width: 100% !important;
    }

    .buttonPreview {
        top: 64px !important;
    }

    .wallpaper .switch-images-button {
        bottom: 138px !important;
        left: -4% !important;
        width: 63% !important;
    }

    .button-withnotch, .button-withoutnotch{
        width: 60px !important;
        height: 60px !important;
        font-size: 12px !important;
    }

    .button-withnotch-mask {
        width: 60px !important;
        height: 60px !important;
    }

}

/* Mobile CSS */

@media (max-width: 767px){

    .blocks-container {
        max-width: 768px !important;
        padding: 0 15px !important;
    }

    .header-container {
        max-width: 100% !important;
    }

    .wrapper {
        position: relative !important;
        margin-top: 56px !important;
        flex-direction: column;
    }

    .content-intro {
        padding-bottom: 10% !important;
        margin-bottom: 8px !important;
        height: auto !important;
    }

    .text-intro h1 {
        font-size: 32px !important;
    }

    .text-intro h2 {
        font-size: 16px !important;
        line-height: 24px !important;
        width: 100% !important;
    }

    .text-intro a {
        padding: 13px 31px !important;
        margin-top: 14px !important;
        margin-bottom: 20px !important;
    }

    .product-free-main {
        width: 100% !important;
    }

    .buttonPreview {
        top: 36px !important;
        left: -2% !important;
        font-size: 13px !important;
    }

    .premium .buttonPreview {
        top: 80px !important;
    }

    .wallpaper .switch-images-button {
        bottom: 72px !important;
        left: -3% !important;
        width: 64% !important;
    }
    
    .button-withnotch, .button-withoutnotch{
        width: 50px !important;
        height: 50px !important;
        font-size: 11px !important;
    }

    .button-withnotch-mask {
        width: 50px !important;
        height: 50px !important;
    }

    /* Section Intro */

    .text-intro {
        width: 100% !important;
    }

    .product-intro {
        display: none !important;
        width: 100% !important;
        position: relative !important;
        top: inherit !important;
    }

    /* Section Product */

    .wallpaper {
        width: 50% !important;
    }

    .wallpaper:nth-child(1){
        display: block !important;
    }

    .wallpaper:nth-child(3n+2), .wallpaper:nth-child(3n+3), .wallpaper:nth-child(3n+4) {
        -webkit-transform: inherit !important;
        -moz-transform: inherit !important;
        transform: inherit !important;
    }

    

    /* Footer */

    .footer-text {
        width: 100% !important;
        padding: 49px 0px 66px 0px !important;
    }

    .footer-text h2 {
        font-size: 32px !important;
        margin-bottom: 9px !important;
    }

    .footer-text h2 div{
        font-size: 32px !important;
    }

    .footer-text .description-footer{
        font-size: 16px !important;
        line-height: 24px !important;
        width: 100% !important;
    }

    .footer-menu {
        padding: 0px 19px !important;
        max-width: 100% !important;
    }
}





