{% load staticfiles %}
<html>
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="{% block description %}{% endblock %}">
    	<meta name="author" content="Jennifer Sánchez Dueñas">
    	<link rel="icon" href="">
    	
        {% block title %}{% endblock %}
        
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    </head>
    <body class="hub">
    	<div class="container">
    		{% include 'blog/messages.html' %}
	        {% include 'blog/header.html' %}
	        
	    	{% block content %}
	        {% endblock %} 
	        
	        {% include 'blog/footer.html' %} 
		</div>
    </body>
</html>
