{% load staticfiles %}
<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="Jennifer Sánchez Dueñas | Diseño gráfico y web">
    	
        <title>Jennifersd</title>
        
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    </head>
    <body class="hub">
    	<div class="container">
	        {% include 'blog/header.html' %}
	        
	    	{% block content %}
	        {% endblock %} 
	        
	        {% include 'blog/footer.html' %} 
		</div>
    </body>
</html>
