<footer>
	<div class="footer-container">
		<h1><a href="/">Jennifersd</a></h1>
		
		<nav class="site-nav-footer">
			<ul class="_nav-items-footer">
				<li class="_nav-item-footer"><a href="/">Inicio</a></li>
				<li class="_nav-item-footer"><a href="">Blog</a></li>
				<li class="_nav-item-footer"><a href="">Recursos</a></li>
				<li class="_nav-item-footer"><a href="">Herramientas</a></li>
				<li class="_nav-item-footer"><a href="">¿Cuánto cuesta crear tu web?</a></li>
				<li class="_nav-item-footer"><a href="">Contacto</a>
			</ul>
		</nav>
		
	</div>
</footer>