{% extends 'blog/base.html' %}

 {% block content %}
 		<section class="drawer -material">
			<div class="blocks-container">
				<div class="-material-block-text">
					<div class="wrapper">
						<h2>Collaboratively brand standardized vortals through real-time e-commerce. Continually restore intuitive networks without market-driven testing procedures. </h2>
						<a class="-material-link">Saber más</a>
					</div>
				</div>
				<div class="-material-block-grid">
					<ul class="grid">
						<li class="block-wrap -poster-wrap -tablet-poster">
							<a href="" class="block -poster -hero-card -bg-hero">
								1
							</a>
						</li>
						<li class="block-wrap -poster-wrap -tablet-poster -last">
							<a href="" class="block -poster -stage -bg-stage">
								2
							</a>
						</li>
						<li class="block-wrap -poster-wrap -tablet-card -last">
							<a href="" class="block -poster -gallery -bg-spec">
								3
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<section class="drawer -blog">
			<div class="blocks-container">
				{% for post in posts %}
		    	<p>Author : {{ post.author }}</p>
		        <p>published: {{ post.published_date }}</p>
		        <h2><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
		        <p>{{ post.text|linebreaksbr }}</p>
		        {% endfor %}
	    	</div>
		</section>
  	
  	<section class="drawer -guidelines">
  		<div class="header-guidelines -locked-bottom">
  			<div class="title-container">
	  			<h2>
	  				Guidelines
	  			</h2>
	  		</div>
  		</div>
		<div class="blocks-container">
		</div>
	</section>
	<section class="drawer -tools">
		<div class="header-tools -locked-bottom">
			<div class="title-container">
	  			<h2>
	  				Tools
	  			</h2>
	  		</div>
  		</div>
		<div class="blocks-container">
		</div>		
	</section>
 {% endblock content %}