{% extends 'blog/base.html' %}

 {% block content %}
 		<section class="drawer -material">
			<div class="blocks-container">
				<div class="-material-block-text">
					<div class="wrapper">
						<h2>Collaboratively brand standardized vortals through real-time e-commerce. Continually restore intuitive networks without market-driven testing procedures. </h2>
						<a class="-material-link">Saber más</a>
					</div>
				</div>
			</div>
		</section>
		
		<section class="drawer -blog">
			<div class="blocks-container">
				{% for post in posts %}
		    	<p>Author : {{ post.author }}</p>
		        <p>published: {{ post.published_date }}</p>
		        <h2><a href="">{{ post.title }}</a></h2>
		        <p>{{ post.text|linebreaksbr }}</p>
		        {% endfor %}
	    	</div>
		</section>
  	
  	<section class="drawer -guidelines">
  		<div class="header-guidelines -locked-bottom">
  			<h2>
  				Guidelines
  			</h2>
  		</div>
		<div class="blocks-container">
		</div>
	</section>
	<section class="drawer -tools">
		<div class="header-tools -locked-bottom">
  			<h2>
  				Tools
  			</h2>
  		</div>
		<div class="blocks-container">
		</div>		
	</section>
 {% endblock content %}