{% extends 'blog/base.html' %}

{% block title %}{{ post.seo_title }} {% endblock %}
{% block description %} {{ posts.seo_description }} {% endblock %}

{% block content %}
	<section class="drawer -blog">
		<div class="blocks-container">
		    <div class="post">
		       	<div class="content">
					<h2>{{ post.title }}</h2>
					{% if post.image  %}
						<img src="{{ post.image.url }}">
					{% endif %}
										
					<div class="social-link">
					
						<ul>
							<li>
								<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">Facebook</a>
							</li>
							<li>
								<a href="https://twitter.com/home?status={{share_string|truncatewords:5}}%20{{request.build_absolute_uri}}">Twitter</a>
							</li>
							<li>
								<a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>Google</a>
								
							</li>
							<li>
								<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{post.title}}&summary={{share_string}}&source={{request.build_absolute_uri}}">Linkedin</a>
							</li>
							
						</ul>
					</div>
					<small>Written by {{ post.author.get_full_name }} on {{ post.published }} in <a href="{{post.category.get_absoulte_url}}">{{ post.category }}</a></small>
					{{ post.content|linebreaks }}
					
					<hr>
					{{ post.richtextuploads|safe }}
					{{ post.richtext|safe }}
					<hr>
					<div class="page-header">
						<h1>Comments<small> Total number of comments: {{ post.comments.count }}</small></h1>
					</div>
					
					<p class="text-center">
						<a href="{% url 'blog:add_comment' slug=post.slug %}">
							<button class="btn btn-default" type="button">Leave a Comment</button>
						</a>
					</p>
		
					<hr>
					{% for comment in post.comments.all %}
						<div class="panel panel-default">
							<div class="panel-heading">{{ comment.user }} commented on {{ comment.created }}</div>
							<div class="panel-body">{{ comment.body }}</div>
						</div>
					{% empty %}
						<p>There is not comments</p>
					{% endfor %}
				</div>
		    </div>
		   
		</div>
	</section>
{% endblock %}