/*
* General CSS
*/

/*
* Backend CSS
*/




/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.body{
	font-family: 'Roboto', sans-serif;
}

.container {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex; 
	-webkit-flex-flow:row wrap;
	-ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
    align-items: stretch;
    background: #eee;
    overflow-x: hidden;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hub .header-wrap {
    padding: 10px 24px;
    background: #262626;
    z-index: 2;
    cursor: default;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    box-shadow: 0;
    box-sizing: border-box;
    z-index: 4;
}

.header-container{
	position: relative;
    /*background: transparent url(images/hub/logo.svg) no-repeat left center;
    background-size: 48px 48px;
    padding-left: 89px;*/
    max-width: 1280px;
    height: 56.15px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.header-container h1{
    background: transparent url('/static/img/logo-jennifersd.svg') no-repeat left center;
    background-size: 218px 56.15px;
    margin:0px;
    width:300px;
    font-weight: 400;
    font-size: 20px;
    /*
    left: 32px;
    padding: 14px 20px;
    */
    margin-left: -20px;
    position: absolute;
    top: 0;
}

.header-container h1:hover{
    opacity:.8;
    -moz-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}

.header-container h1 a{
    display: block;
    margin: 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 56.15px;
    opacity:0;
}

.header-container .site-nav{
    font-weight: 400;
    display: inline-block;
    letter-spacing: .25px;
    position: absolute;
    top: 0;
    right: 32px;
}

.site-nav ._nav-items {
    list-style: none;
    margin: 0px;
    padding: 0;
    white-space: nowrap;
    display: inline-block;
    font-size: 0;
}

.site-nav ._nav-item {
    display: inline-block;
    text-transform: uppercase;
}

.site-header.-light ._nav-item a {
    border-bottom: 2px solid rgba(255,255,255,0);
}

.site-nav ._nav-item a {
    display: inline-block;
    padding: 20px 12px 21px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    transition: border-bottom-color .1s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    color:#fff;
}

.site-header.-light a {
    color: #fff;
}


/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hub .drawer {
    position: relative;
    width: 100%;
    padding: 120px 0;
}

/* Section 1 - Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hub .-material {
    background: #262626;
    color: #fff;
    padding-top: 0;

}

.blocks-container{
    max-width: 1192px;
    padding: 0 48px;
    margin: auto;
}

.-material-block-text{
	position: relative;
    padding-bottom: 50%;
    margin-bottom: 8px;
    height: 0;
}

.wrapper{
	box-sizing: border-box;
    padding-left: 24px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 3;
}

.-material-block-text h2{
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 24px;
    width: 33.33%;
    -webkit-font-smoothing: antialiased;
}

.-material-block-text a{
	
}	


.-material-block-grid{
	
}

.-material-block-grid .grid{
	display: -webkit-box;      
	display: -moz-box;        
	display: -ms-flexbox;      
	display: -webkit-flex;     
	display: flex;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    min-height: initial;
    min-width: initial;
}

.-material-block-grid .grid{
	list-style-type:none;
}

.-material-block-grid .block-wrap{
	margin: 0 8px 0 0;	
}

.-material-block-grid .-poster-wrap{
	flex-basis: 0;
    flex-grow: 6;
    width: 100%;
    position: relative;	
} 

.-material-block-grid .-poster-wrap:before {
    content: "";
    display: block;
    padding-top: 150%;
}

.-material-block-grid .-tablet-poster{
	
}

.-material .-material-block-grid .-tablet-poster.-last {
    margin-right: 8px;
}

.-material-block-grid .block-wrap.-last {
    margin-right: 0;
}

.-material-block-grid .-poster-wrap .-poster {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.-material-block-grid .block {
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    transition: box-shadow 0.2s ease;
}

.-material-block-grid .-bg-hero {
    background: #3C3C3C;
    color: #ffffff;
}

.-material-block-grid .block.-stage {
    color: #ffffff;
}

.-material-block-grid .-bg-stage {
    background: #ff3d00;
}

.-material-block-grid .block.-gallery {
    margin-right: 0;
}

.-material-block-grid .-bg-spec {
    background: #FFC400;
    color: #212121;
}

/* Section 2 - Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.title-container{
    padding-left: 72px;
    max-width: 1216px;	
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.hub .-guidelines {
    background: #ffffff;
}

.hub .-guidelines .header-guidelines.-locked-bottom {
    position: fixed;
    top: auto;
    bottom: 0;
    height: 56px;
    transform: translateY(-56px);
    transition: height 0.2s ease-out;
    z-index: 4;
    
    width: 100%;
    left: 0;
    box-sizing: border-box;
}

.header-guidelines{
    padding: 16px 48px;
    background: #ffffff;
    z-index: 1;
    cursor: pointer;
}

.header-guidelines h2{
	margin:0px;
}

/* Section 3 - Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hub .-tools {
    background: #eee;
    color: #212121;
}

.hub .-tools .header-tools.-locked-bottom {
    position: fixed;
    top: auto;
    bottom: 0;
    height: 56px;
    transition: height 0.2s ease-out;
    z-index: 5;
        width: 100%;
    left: 0;
    box-sizing: border-box;
}

.header-tools {
    background: #eee;
    z-index: 1;
    padding: 16px 48px;
    cursor: pointer;
    
}

.header-tools h2{
	margin:0px;
}



